.cell {
  padding: var(--size-spacing-sm) !important;
  font-size: var(--text-body-sm-size);
  line-height: var(--text-body-sm-tight-line);
  color: var(--color-ubie-black-500);
  text-align: left;
  border: none !important;
}
