.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-right: var(--size-spacing-xs);
  padding-bottom: var(--size-spacing-xs);
  padding-left: var(--size-spacing-xs);
  background-color: var(--color-background-white);
  border: none;
  border-radius: var(--radius-lg);
}

.wrapper:hover {
  background-color: var(--color-background-gray);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 0.75;
  font-size: 3rem;
  color: var(--color-primary);
}

.name {
  padding: 0;
  margin: 0;
  font-size: var(--text-note-md-size);
  font-weight: bold;
  line-height: var(--text-body-sm-line);
  color: var(--color-text-sub);
  text-align: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: var(--size-spacing-lg);
  text-align: left;
}

.modalIcon {
  display: block;
  font-size: 6rem;
  line-height: 0;
  color: var(--color-primary);
}
