.wrapper {
    position: relative;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1 / 0.96;
    font-size: 36px;
    color: var(--color-primary);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
}

.name {
    padding: 0;
    margin: 0;
    margin-top: var(--size-spacing-xxs);
    font-size: var(--text-body-sm-size);
    font-weight: bold;
    line-height: var(--text-body-sm-line);
    color: var(--color-text-sub)
}

.copy {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.001;
}

.copy:focus,
.wrapper:hover .copy {
    opacity: 1;
}

.word {
    display: inline-block;
}