.wrapper {
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1 / 0.96;
  font-size: 36px;
  color: var(--color-primary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
}

.name {
  padding: 0;
  margin: 0;
  margin-top: var(--size-spacing-xxs);
  font-size: var(--text-body-sm-size);
  font-weight: bold;
  line-height: var(--text-body-sm-line);
  color: var(--color-text-sub);
  text-align: center;
  word-wrap: normal;
}

.copyOuter {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  display: none;
  width: 115%;
  translate: -50% 0;
}

.copyOuter.show {
  display: block;
}

.copy {
  position: relative;
  width: 100%;
  background-color: #fff;
  isolation: isolate;
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-md);
  transform: 0 -100%;
}

.copy::before {
  position: absolute;
  top: -8px;
  left: 50%;
  display: block;
  width: 12px;
  height: calc(tan(60deg) * 12px / 3);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  content: '';
  background: var(--color-primary);
  translate: -50% 0;
}

.copy::after {
  position: absolute;
  top: -5px;
  left: 50%;
  display: block;
  width: 10px;
  height: calc(tan(60deg) * 10px / 3 + 1px);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  content: '';
  background: var(--color-ubie-white);
  translate: -50% 0;
}

.copyInner {
  overflow: hidden;
  border-radius: var(--radius-md);
}

.copy:focus,
.wrapper:hover .copy {
  opacity: 1;
}
