---
interface Props {
  globalNavigationId: string;
}

const { globalNavigationId } = Astro.props;
---

<nav class="header" data-js-mobile-header>
  <button
    type="button"
    class="openMobileGlobalNavigationButton"
    data-js-open-mobile-global-navigation-button
    aria-label="メニューを開く"
    aria-controls={globalNavigationId}
    aria-expanded="false"
  >
    <img src="/assets/images/icon-drawer.svg" alt="" width="16" height="16" />
  </button>

  <a href="/">
    <img
      class="logo"
      src="/assets/images/ubie-vitals-logo.svg"
      alt="Ubie Vitals ロゴ"
      width="1640"
      height="226"
      decoding="async"
    />
  </a>

  <!-- TODO: サイトがクローリングされたら実装 -->
  <!-- <form action="http://www.google.co.jp/search" method="get">
    <input type="hidden" name="hl" value="ja" />
    <input type="hidden" name="sitesearch" value="vitals.ubie.life/" />
    <input type="search" name="q" />
    <button>検索</button>
  </form> -->
</nav>

<script>
  import { $isMobileGlobalNavigationOpen } from '@store/navigation';

  (() => {
    const openMobileGlobalNavigationButton = document.querySelector('[data-js-open-mobile-global-navigation-button]');

    if (!openMobileGlobalNavigationButton) {
      return;
    }

    const openClickExpandMobileGlobalNavigationButton = () => {
      $isMobileGlobalNavigationOpen.set(true);
    };

    openMobileGlobalNavigationButton.addEventListener('click', openClickExpandMobileGlobalNavigationButton);

    $isMobileGlobalNavigationOpen.subscribe((value) => {
      openMobileGlobalNavigationButton.setAttribute('aria-expanded', value.toString());
    });

    const mediaQuery = window.matchMedia('(min-width: 768px)');
    window.addEventListener('resize', () => {
      if (mediaQuery.matches) {
        $isMobileGlobalNavigationOpen.set(false);
      }
    });

    // header background
    const mobileHeader = document.querySelector('[data-js-mobile-header]');

    const headerIsScrolled = () => {
      if (window.scrollY > 0) {
        mobileHeader?.classList.add('scrolled');
      } else {
        mobileHeader?.classList.remove('scrolled');
      }
    };

    document.addEventListener('scroll', headerIsScrolled, { passive: true });
    headerIsScrolled();
  })();
</script>

<style>
  .header {
    position: fixed;
    top: 0;
    z-index: 10000;
    display: flex;
    gap: var(--size-spacing-md);
    align-items: center;
    width: 100%;
    height: var(--header-height-mobile);
    padding: 0 var(--size-spacing-xs);
    border-bottom: 1px solid var(--color-ubie-black-300);
    transition: background-color 0.2s ease-in-out;
  }

  .header.scrolled {
    background-color: var(--color-ubie-white);
  }

  @media (width >= 768px) {
    .header {
      display: none;
    }
  }

  .openMobileGlobalNavigationButton {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  @media (hover: hover) {
    .openMobileGlobalNavigationButton:hover {
      background-color: var(--color-ubie-black-200);
    }
  }

  .openMobileGlobalNavigationButton:active {
    background-color: var(--color-ubie-black-300);
  }

  .openMobileGlobalNavigationButton > img {
    width: 28px;
    height: auto;
    color: var(--color-ubie-black-1000);
  }

  @media (width >= 768px) {
    .openMobileGlobalNavigationButton {
      display: none;
    }
  }

  .logo {
    width: auto;
    height: 1.2rem;
  }
</style>
