---
import IconList from '@components/react/IconList';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Icon" wideFooter>
  <main class="wrapper">
    <article>
      <h1 class="heading">Icons</h1>
      <IconList client:only />
    </article>
  </main>
</BaseLayout>

<style>
  .wrapper {
    padding: calc(var(--size-spacing-xxl) + var(--header-height-mobile)) var(--size-spacing-lg) var(--size-spacing-xxl);
    margin-right: auto;
    margin-left: auto;
  }

  @media (width >= 768px) {
    .wrapper {
      padding: var(--size-spacing-xxl) var(--size-spacing-xl) var(--size-spacing-xxl);
    }
  }

  .heading {
    margin-top: 0;
    margin-bottom: var(--size-spacing-lg);
  }
</style>
