---
import { Image } from 'astro:assets';
import FigureComponents from '@assets/images/top/figure-components.png';
import FigureIcons from '@assets/images/top/figure-icons.png';
import FigureTokens from '@assets/images/top/figure-tokens.png';
import LinkCard from '@components/astro/LinkCard.astro';
import Stack from '@components/astro/Stack.astro';
import CardPrinciples from '@components/astro/top/CardPrinciples.astro';
import Hero from '@components/astro/top/Hero.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="">
  <main>
    <h1 class="visuallyHidden">トップページ</h1>
    <Hero />

    <div class="wrapper">
      <Stack spacing="xl">
        <CardPrinciples />

        <div class="cardList">
          <LinkCard href="/tokens" heading="Tokens">
            <Image src={FigureTokens} alt="" slot="image" />
            <p>
              タイポグラフィ、カラー、スペーシングなど、デザインの最小単位。ユビー「らしさ」を確保するための基本ルールです。
            </p>
          </LinkCard>

          <LinkCard href="/components" heading="Components">
            <Image src={FigureComponents} alt="" slot="image" />
            <p>組み合わせによる、迅速なプロダクト構築をサポートします。コードサンプルと使用方法を紹介します。</p>
          </LinkCard>

          <LinkCard href="/elements/icons" heading="Icons">
            <Image src={FigureIcons} alt="" slot="image" />
            <p>視覚的にユーザーの視認性をサポートするアイコンの一覧です。</p>
          </LinkCard>
        </div>
      </Stack>

      <hr class="hr" />

      <div class="card">
        <Stack spacing="lg">
          <h2 class="cardHeading">Contribute</h2>

          <p>
            Ubie Vitalsは<a href="https://github.com/ubie-oss/ubie-vitals-website">GitHub</a
            >で管理されています。課題、質問があればIssueをお寄せください。<br />
             また、Slackチャンネルの#prj-design-productivityでも問い合わせを受け付けています。
          </p>
        </Stack>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  .wrapper {
    padding: var(--size-spacing-xxl) var(--size-spacing-lg) var(--size-spacing-xxl);
    margin-right: auto;
    margin-left: auto;
    container-type: inline-size;
  }

  @media (width >= 768px) {
    .wrapper {
      max-width: calc(var(--wrapper-width) + var(--size-spacing-lg) + var(--size-spacing-lg));
      padding: var(--size-spacing-xxl) var(--size-spacing-lg);
    }
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    gap: var(--size-spacing-xl);
  }

  .card {
    /* Limit the area of clickable area expansion for LinkWithArrow */
    position: relative;
    padding: 32px var(--size-spacing-xl);
    background-color: var(--color-ubie-black-100);
    border-radius: var(--radius-lg);
  }

  .cardHeading {
    margin: 0;
    font-size: var(--text-heading-md-size);
    line-height: var(--text-heading-md-line);
  }

  .cardHeading.primary {
    color: var(--color-primary);
  }

  .hr {
    margin-top: var(--size-spacing-xl);
    margin-bottom: var(--size-spacing-xl);
    border: none;
    border-top: 1px solid var(--color-ubie-black-200);
  }

  @media (width >= 768px) {
    .hr {
      margin-top: var(--size-spacing-xxl);
      margin-bottom: var(--size-spacing-xxl);
    }
  }
</style>
