---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="">
  <main class="wrapper">
    <h1 class="visuallyHidden">トップページ</h1>

    <p class="lead">すっきり。</p>
    <p class="leadSub">気軽・かんたん・誠実</p>

    <p class="description">
      Ubieが提供するプロダクトをすべてのユーザーに届けるための、<br />
       四つのデザイン原則を基礎としたデザインシステム <strong>Ubie Vitals</strong>
    </p>
  </main>
</BaseLayout>

<style>
  .wrapper {
    padding: var(--size-spacing-xxl) var(--size-spacing-xl) var(--size-spacing-xxl);
    container-type: inline-size;
  }

  @media (width >= 768px) {
    .wrapper {
      padding: var(--size-spacing-xxl) var(--size-spacing-xxl) var(--size-spacing-xxl);
    }
  }

  .lead {
    margin-bottom: 0;
    font-size: 56px;
    font-weight: bold;
    line-height: var(--text-heading-xl-line);
  }

  .leadSub {
    padding-left: 0.125em;
    margin-top: 0.25em;
    font-size: 24px;
    line-height: var(--text-heading-lg-line);
    color: var(--color-ubie-black-700);
  }

  .description {
    margin-top: 2em;
  }

  @container (width >= 540px) {
    .lead {
      font-size: 80px;
    }

    .leadSub {
      margin-top: 0.125em;
      font-size: 34px;
    }

    .description {
      margin-top: 3em;
    }
  }

  @container (width >= 960px) {
    .lead {
      margin-top: 0.75em;
      font-size: 128px;
    }

    .leadSub {
      margin-top: 0;
      font-size: 54px;
    }

    .description {
      margin-top: 4em;
      font-size: var(--text-body-xl-size);
      line-height: var(--text-body-xl-line);
    }
  }
</style>
