---
import BaseLayout from '@layouts/BaseLayout.astro';
import IconList from '@components/IconList';
---

<BaseLayout title="Icon">
  <main class="wrapper">
    <h1>アイコン</h1>

    <IconList client:only />
  </main>
</BaseLayout>

<style>
  .wrapper {
    padding-right: var(--size-spacing-lg);
    padding-left: var(--size-spacing-lg);
  }
</style>
