---
import BaseLayout from '@layouts/BaseLayout.astro';
import { siteUrl } from '@utils/client';
---

<BaseLayout>
  <main class="wrapper">
    <h1>Tokens</h1>

    <ul>
      <li><a href={siteUrl('/tokens/typography')}>Typography</a></li>
      <li><a href={siteUrl('/tokens/spacing')}>Spacing</a></li>
      <li>
        <a href={siteUrl('/tokens/color')}>Color</a>
        <ul>
          <li><a href={siteUrl('/tokens/color/primitive')}>Primitive</a></li>
          <li><a href={siteUrl('/tokens/color/semantic')}>Semantic</a></li>
        </ul>
      </li>
      <li><a href={siteUrl('/tokens/radius')}>Radius</a></li>
      <li><a href={siteUrl('/tokens/icons')}>Icons</a></li>
    </ul>
  </main>
</BaseLayout>

<style>
  .wrapper {
    max-width: 800px;
    padding-right: var(--size-spacing-lg);
    padding-left: var(--size-spacing-lg);
    margin-right: auto;
    margin-left: auto;
  }
</style>
