---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout>
  <main class="wrapper">
    <h1>Tokens</h1>

    <ul>
      <li><a href="/ubie-vitals-website/tokens/typography">Typography</a></li>
      <li><a href="/ubie-vitals-website/tokens/spacing">Spacing</a></li>
      <li><a href="/ubie-vitals-website/tokens/color">Color</a></li>
      <li><a href="/ubie-vitals-website/tokens/radius">Radius</a></li>
      <li><a href="/ubie-vitals-website/tokens/icons">Icons</a></li>
    </ul>
  </main>
</BaseLayout>

<style>
  .wrapper {
    max-width: 800px;
    padding-right: var(--size-spacing-lg);
    padding-left: var(--size-spacing-lg);
    margin-right: auto;
    margin-left: auto;
  }
</style>
