---
const allComponentPosts = await Astro.glob('../pages/components/*.mdx');
---

<ul class="list">
  {
    allComponentPosts.map((post) => (
      <li class="item">
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</ul>

<style>
  .list {
    min-height: 100%;
    padding: 12px 0;
    margin: 0;
    list-style: none;
    background-color: var(--color-ubie-black-100);
  }

  .item > a {
    display: block;
    padding: 4px 20px;
  }
</style>
