---
const allComponentPosts = await Astro.glob('../pages/components/*.mdx');
const currentPath = new URL(Astro.request.url).pathname;

const getEndDirectory = (path: string): string => {
  const paths = path.split('/');
  return paths[paths.length - 1];
};
---

<ul class="list">
  {
    allComponentPosts.map((post) => (
      <li class={`item ${getEndDirectory(currentPath) === getEndDirectory(post.url ?? '') ? 'active' : ''}`}>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</ul>

<style>
  .list {
    position: sticky;
    top: 0;
    width: 18em;
    min-height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .item > a {
    display: block;
    padding: 4px 20px;
    color: var(--color-text-main);
    text-decoration: none;
  }

  .item > a:focus {
    text-decoration: underline;
    background-color: var(--color-background-primary);
  }

  @media (hover: hover) {
    .item > a:hover {
      text-decoration: underline;
      background-color: var(--color-background-primary);
    }
  }

  .item > a:active {
    text-decoration: none;
  }

  .item.active > a {
    color: var(--color-primary-darken);
    background-color: var(--color-background-primary-darken);
  }
</style>
