---
import { Prism } from '@astrojs/prism';
import '@styles/libs/prism-vsc-dark-plus.css';

import ButtonCopy from '@components/react/CopyButton';
import type { exampleUrlAndFilePath } from '@utils/server';

interface Props {
  urlAndCode: exampleUrlAndFilePath;
}

const { urlAndCode } = Astro.props;
---

<div class="example">
  <div class="demo">
    <iframe src={urlAndCode.url} title="fixme: タイトル考えて" loading="lazy"></iframe>
  </div>
  <div class="code">
    <Prism lang="jsx" code={urlAndCode.code} />
    <ButtonCopy className="copy" text={urlAndCode.code} client:only />
  </div>
</div>

<style>
  .example {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid var(--color-ubie-black-200);
    border-radius: 6px;
  }

  .code {
    position: relative;
  }

  .copy {
    position: absolute;
    top: 4px;
    right: 4px;
  }
</style>
