---

---

<header class="header">
  <a href="/">
    <img
      class="logo"
      src="/assets/images/ubie-vitals-logo.svg"
      alt="Ubie Vitals ロゴ"
      width="345"
      height="75"
      decoding="async"
    />
  </a>

  <nav aria-label="グローバルメニュー">
    <ul class="linkList">
      <li class="linkListItem"><a href="">デザイン原則（WIP）</a></li>
      <li class="linkListItem"><a href="/tokens">トークン</a></li>
      <li class="linkListItem"><a href="/components">コンポーネント</a></li>
    </ul>
  </nav>
</header>

<style>
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px 20px 20px;
  }

  .logo {
    width: auto;
    height: 35px;
  }

  .linkList {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  .linkListItem > a {
    font-weight: bold;
    color: var(--color-ubie-black-700);
    text-underline-offset: 3px;
  }

  @media (hover: hover) {
    .linkListItem > a:hover {
      color: var(--color-primary);
    }
  }

  .linkListItem > a:active {
    text-decoration: none;
  }
</style>
