.button {
  display: inline-flex;
  gap: var(--size-spacing-xxs);
  align-items: center;
  justify-content: center;
  min-height: 32px;
  padding: var(--size-spacing-xxs) var(--size-spacing-xs) calc(var(--size-spacing-xxs) - 0.125rem);
  font-weight: bold;
  color: var(--color-primary);
  background-color: rgb(255 255 255 / 75%);
  border: none;
  border-radius: var(--radius-xs);
}

.button.invert {
  color: var(--color-text-white);
  background-color: transparent;
}

.button.secondary {
  color: var(--color-text-main);
  background-color: transparent;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--color-ubie-black-200);
  }

  .button.invert:hover {
    background-color: rgb(255 255 255 / 15%);
  }

  .button.secondary:hover {
    color: var(--color-ubie-black-1000);
  }
}

.button:active {
  background-color: var(--color-ubie-black-300);
}

.button.invert:active {
  background-color: rgb(255 255 255 / 25%);
}

.icon {
  position: relative;
  top: -1px;
  font-size: 16px;
}

.block {
  width: 100%;
}
