.nav {
    min-width: 16rem;
    height: 100%;
    padding: var(--size-spacing-md) var(--size-spacing-sm);
    overflow: auto;
    background-color: var(--color-ubie-white);
    border-right: 1px solid var(--color-ubie-black-100);
    box-shadow: 0 15px 16px 0 rgb(0 0 0 / 3%), 0 6px 12px 0 rgb(0 0 0 / 4%), 0 3px 8px 0 rgb(0 0 0 / 5%), 0 1px 4px 0 rgb(0 0 0 / 7%);
}

@media (width >= 768px) {
    .nav {
        border-right: 1px solid var(--color-ubie-black-200);
    }
}

.closeButtonWrapper {
    margin-bottom: var(--size-spacing-md);
}

@media (width >= 768px) {
    .closeButtonWrapper {
        display: none;
    }
}

.closeButton {
    width: 40px;
    height: 40px;
    padding: 0;
    color: var(--color-text-main);
    background-color: transparent;
    border: none;
}

@media(hover:hover) {
    .closeButton:hover {
        background-color: var(--color-ubie-black-100);
    }
}

.closeButton:active {
    background-color: var(--color-ubie-black-200);
}

.closeButtonImage {
    width: 20px;
    height: auto;
}

@media (width >= 768px) {
    .nav {
        box-shadow: none;
        
    }
}

.link {
    position: relative;
    display: block;
    padding: var(--size-spacing-xs) var(--size-spacing-md);
    font-size: var(--text-button-md-size);
    font-weight: bold;
    line-height: var(--text-button-md-line);
    color: var(--color-ubie-black-500);
    text-decoration: none;
    border-radius: var(--radius-sm);
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--color-ubie-black-100);
    }
}

.link:active {
    background-color: var(--color-ubie-black-200);
}

.link.current {
    color: var(--color-ubie-black);
    background-color: var(--color-ubie-blue-100);
}

.link.current::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 4px;
    height: 1.5em;
    content: '';
    background-color: var(--color-primary);
    border-radius: var(--radius-xs);
    transform: translateY(-50%);
}

.link.current:hover,
.link.current:active {
    background-color: var(--color-ubie-blue-100);
}

.category {
    margin-top: var(--size-spacing-md);
}

.categoryHeading {
    display: block;
    padding: var(--size-spacing-xxs) var(--size-spacing-md);
    font-size: 11px;
    font-weight: bold;
    line-height: var(--text-heading-xs-line);
    color: var(--color-ubie-black-500);
    letter-spacing: 0.125em;
}