.link {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: var(--size-spacing-xs) var(--size-spacing-md);
  font-size: var(--text-button-md-size);
  font-weight: bold;
  line-height: var(--text-button-md-line);
  color: var(--color-ubie-black-500);
  text-decoration: none;
  border-radius: var(--radius-sm);
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--color-ubie-black-100);
  }
}

.link:active {
  background-color: var(--color-ubie-black-200);
}

.link:visited {
  color: var(--color-ubie-black-500);
}

.link.current {
  color: var(--color-ubie-black-1000);
  background-color: var(--color-ubie-blue-100);
}

.link.current::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 4px;
  height: 1.5em;
  content: '';
  background-color: var(--color-primary);
  border-radius: var(--radius-xs);
  transform: translateY(-50%);
}

.link.current:hover,
.link.current:active {
  background-color: var(--color-ubie-blue-100);
}
