.wrapper,
.contents {
    min-height: calc(100vh - var(--header-height-mobile));
    min-height: calc(100dvh - var(--header-height-mobile));
}

@media(width >= 768px) {
    .wrapper,
    .contents {
        min-height: calc(100vh - var(--header-height));
        min-height: calc(100dvh - var(--header-height));
    }
}

.wrapper {
    display: flex;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    display: none;
    height: 100vh;
    height: 100dvh;
    overflow: auto;
    box-shadow: 0 15px 16px 0 rgb(0 0 0 / 3%), 0 6px 12px 0 rgb(0 0 0 / 4%), 0 3px 8px 0 rgb(0 0 0 / 5%), 0 1px 4px 0 rgb(0 0 0 / 7%);
}

.menu.mobileOpen {
    display: block;
}

@media (width >= 768px) {
    .menu {
        position: sticky;
        top: var(--header-height);
        z-index: initial;
        display: block;
        flex: 0 0 auto;
        width: initial;
        height: calc(100vh - var(--header-height));
        height: calc(100dvh - var(--header-height));
        box-shadow: none;
    }
}

.contents {
    flex: 1 1 auto;
    min-width: 0;
}