.wrapper,
.menu,
.contents {
    min-height: calc(100vh - var(--header-height-mobile));
    min-height: calc(100dvh - var(--header-height-mobile));
}

@media(width >= 768px) {
    .wrapper,
    .menu,
    .contents {
        min-height: calc(100vh - var(--header-height));
        min-height: calc(100dvh - var(--header-height));
    }
}

.wrapper {
    display: flex;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    display: none;
    height: 100vh;
    height: 100dvh;
}

.menu.mobileOpen {
    display: block;
}

@media (width >= 768px) {
    .menu {
        position: static;
        z-index: initial;
        display: block;
        flex: 0 0 auto;
        width: initial;
        height: auto;
        min-height: 100%;
        overflow: initial;
    }
}

.contents {
    flex: 1 1 auto;
    min-width: 0;
}