.logoWrapper {
  display: none;
}

@media (width >= 768px) {
  .logoWrapper {
    display: block;
    padding: 28px 32px;
  }
}

.logo {
  width: 140px;
  height: auto;
}

.wrapper,
.contents {
  min-height: 100vh;
  min-height: 100dvh;
}

.wrapper {
  display: flex;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  display: none;
  height: 100vh;
  height: 100dvh;
  padding-top: var(--size-spacing-lg);
  padding-bottom: var(--size-spacing-lg);
  overflow: auto;
  background-color: var(--color-ubie-white);
  box-shadow:
    0 15px 16px 0 rgb(0 0 0 / 3%),
    0 6px 12px 0 rgb(0 0 0 / 4%),
    0 3px 8px 0 rgb(0 0 0 / 5%),
    0 1px 4px 0 rgb(0 0 0 / 7%);
}

.menu.mobileOpen {
  display: block;
}

@media (width >= 768px) {
  .menu {
    position: sticky;
    z-index: initial;
    display: block;
    flex: 0 0 auto;
    width: initial;
    height: 100vh;
    height: 100dvh;
    padding-top: 0;
    padding-bottom: 0;
    border-right: 1px solid var(--color-ubie-black-200);
    box-shadow: none;
  }
}

.contents {
  flex: 1 1 auto;
  min-width: 0;
}
