---
import PropsTable from '@components/astro/PropsTable.astro';
import ExampleSwitcher from '@components/react/ExampleSwitcher';
import PostLayout from '@layouts/PostLayout.astro';
import { extractPropsFromFile, getAllExample, buildComponentPath } from '@utils/server';
import type { MarkdownLayoutProps } from 'astro';
import RepositoryLink from '@components/astro/RepositoryLink.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  exampleKey: string;
  repositoryUrl?: string;
}>;

const { frontmatter } = Astro.props;

const filePath = buildComponentPath(frontmatter.exampleKey);

// Add data-* to all components (because the types are too complex to extract)
const propsArray = [
  ...extractPropsFromFile(filePath),
  {
    name: 'data-*',
    type: 'string',
    description: 'Custom data attributes',
    required: false,
  },
];

const examples = getAllExample(frontmatter.exampleKey);
---

<PostLayout
  frontmatter={{
    title: frontmatter.title,
    description: frontmatter.description,
  }}
>
  {
    frontmatter.repositoryUrl && (
      <span class="repositoryLink" slot="headingSide">
        <RepositoryLink href={frontmatter.repositoryUrl} targetName="Copmonent" />
      </span>
    )
  }
  <section>
    <h2 id="Example">
      Example<a class="linkHeading" href="#Example"><span class="linkHeadingIcon">#</span></a>
    </h2>

    <ExampleSwitcher examples={examples} client:only="react" />

    <section>
      <h2 id="Props">
        Props<a class="linkHeading" href="#Props"><span class="linkHeadingIcon">#</span></a>
      </h2>
      <PropsTable propsArray={propsArray} />
    </section>
    <slot />
  </section>
</PostLayout>

<style>
  .repositoryLink {
    display: flex;
    align-items: center;
    padding-top: 0.1em;
  }
</style>
