---
import PropsTable from '@components/astro/PropsTable.astro';
import ExampleSwitcher from '@components/react/ExampleSwitcher';
import PostLayout from '@layouts/PostLayout.astro';
import { extractPropsFromFile, getAllExample, buildComponentPath } from '@utils/server';

const { frontmatter } = Astro.props;
const { title, description, exampleKey } = frontmatter;

const filePath = buildComponentPath(exampleKey);

// Add data-* to all components (because the types are too complex to extract)
const propsArray = [
  ...extractPropsFromFile(filePath),
  {
    name: 'data-*',
    type: 'string',
    description: 'Custom data attributes',
    required: false,
  },
];

const examples = getAllExample(exampleKey);
---

<PostLayout
  frontmatter={{
    title,
    description,
  }}
>
  <section>
    <h2 id="Example">
      Example<a class="linkHeading" href="#Example"><span class="linkHeadingIcon">#</span></a>
    </h2>

    <ExampleSwitcher examples={examples} client:only="react" />

    <section>
      <h2 id="Props">
        Props<a class="linkHeading" href="#Props"><span class="linkHeadingIcon">#</span></a>
      </h2>
      <PropsTable propsArray={propsArray} />
    </section>
    <slot />
  </section>
</PostLayout>
