---
import '@ubie/design-tokens/dist/tokens.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title} | Ubie Vitals</title>
    <link rel="icon" href="/assets/images/favicon.ico" />
  </head>
  <body>
    <slot />
  </body>
</html>
