---
import Markdown from '@components/astro/Markdown.astro';
import BaseLayout from './BaseLayout.astro';
import WithTableOfContentsLayout from './WithTableOfContentsLayout.astro';

const { title, description } = Astro.props.frontmatter;
---

<BaseLayout title={`${title}`}>
  <main>
    <WithTableOfContentsLayout>
      <article>
        <Markdown>
          <div class="heading">
            <h1>{title}</h1>

            <slot name="headingSide" />
          </div>
          {description && <p class="description">{description}</p>}
          <slot />
        </Markdown>
      </article>
    </WithTableOfContentsLayout>
  </main>
</BaseLayout>

<style>
  .description {
    margin-bottom: var(--size-spacing-xl);
  }

  .heading {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
</style>
