---
import BaseLayout from './BaseLayout.astro';
import WithTableOfContentsLayout from './WithTableOfContentsLayout.astro';

const { title, description } = Astro.props.frontmatter;
---

<BaseLayout title={`${title} | Design`}>
  <main>
    <WithTableOfContentsLayout>
      <article class="markdown">
        <h1>{title}</h1>
        {description && <p>{description}</p>}
        <slot />
      </article>
    </WithTableOfContentsLayout>
  </main>
</BaseLayout>

<style>
  .markdown img {
    margin-top: 60px;
    margin-bottom: 60px;
  }
</style>
