---
import BaseLayout from './BaseLayout.astro';
import WithTableOfContentsLayout from './WithTableOfContentsLayout.astro';
import Markdown from '@components/astro/Markdown.astro';

const { title, description } = Astro.props.frontmatter;
---

<BaseLayout title={`${title} | Design`}>
  <main>
    <WithTableOfContentsLayout>
      <article>
        <Markdown>
          <h1>{title}</h1>
          {description && <p>{description}</p>}
          <slot />
        </Markdown>
      </article>
    </WithTableOfContentsLayout>
  </main>
</BaseLayout>
