---
interface Props {
  side?: 'left' | 'right';
  gap?: string;
}

const { side = 'left', gap = '0px' } = Astro.props;
---

<div class="wrapper" style={{ gap }}>
  {
    side === 'left' ? (
      <>
        <div class="menu">
          <slot name="menu" />
        </div>
        <div class="contents">
          <slot />
        </div>
      </>
    ) : (
      <>
        <div class="contents">
          <slot />
        </div>
        <div class="menu">
          <slot name="menu" />
        </div>
      </>
    )
  }
</div>

<style>
  .wrapper,
  .menu,
  .contents {
    min-height: 100%;
  }

  .wrapper {
    display: flex;
  }

  .menu {
    flex: 0 0 auto;
  }

  .contents {
    flex: 1 1 auto;
    min-width: 0;
  }
</style>
