---
import TableOfContents from '@components/react/TableOfContents';
---

<div class="wrapper">
  <div class="contents">
    <slot />
  </div>
  <div class="menu">
    <TableOfContents client:only="react" />
  </div>
</div>

<style>
  .wrapper {
    container-type: inline-size;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    padding: calc(var(--size-spacing-xxl) + var(--header-height-mobile)) var(--size-spacing-lg) var(--size-spacing-xxl);
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (width >= 640px) {
    .wrapper {
      padding: var(--size-spacing-xxl) var(--size-spacing-xl) var(--size-spacing-xxl);
    }
  }

  .contents {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 800px;
  }

  .menu {
    display: none;
  }

  /* 最低行幅 + メニュー + gap */

  /* FIXME: 数値が適当 */
  @container (min-width: calc(35em + 200px + 80px)) {
    .menu {
      display: block;
      flex: none;
      width: 240px;
    }
  }
</style>
